@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

:root {
    --main-color: #5352ed;
    --light-color: #f7f7f7;
    --grey-color: #9f9f9f;
    --dark-color: #18161e;
}

*{
    margin: 0;
    padding: 0;
}

*, ::before, ::after {
    box-sizing: border-box;
}
body {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--light-color);
    background-color: var(--dark-color);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2em;
}

/* ===  01. Header  ===*/
header {
    line-height: 90px;
}
header :where(nav, .menu, .menu ul) {
    display: flex;
    align-items: center;
}
.logo a {
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 2.5rem;
}

/* Header: Responsive Menu  */
nav {
    justify-content: space-between;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 320px;
    background-color: yellowfree;
    z-index: 100;
}
.menu ul {
    flex-direction: column;
    line-height: normal;
    width: 100%;
    gap: 1rem;
    font-size: 1.75em;
}
.menu .close {
    position: absolute;
    top: 0;
    right: 0;
    line-height: normal;
    padding: 0.75em;
    font-size: 1.5em;
    display: flex;
}
.menu a {
    transition: color .3s;
}
.menu a:hover {
    color: var(--main-color);
}

/* ===  02. Hero  ===*/



/* ===  03. Features  ===*/



/* ===  04. Brands  ===*/



/* ===  05. Engage  ===*/



/* ===  06. cta  ===*/




/* ===  07. footer  ===*/




/* ===  08. Animation  ===*/



@media screen and (min-width: 992px) {
    header {
        line-height: 150px;
    }
    nav {
        justify-content: unset;
    }
}